---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Botones from '../components/botones.astro';
import Header from '../components/header.astro';
import CardInfo from '../components/card-info.astro';
import Accordion from '../components/accordion.astro';
import PRECIOS from '../components/precios.astro';
---

<Layout title="MarMax.">
	<!--Header escritorio-->
	<header>
		<!--Nav hecha con componente header -->
	<Header />
		<!--Primera pagina-->		
		<section class="flex flex-col justify-center items-center">
			<header>
				<h3 class="text-white text-center text-2xl sm:text-4xl md:text-5xl font-semibold">Bienvenidos a <span class="text-gradient">MarMax</span></h3>
			</header>
			<main>
				<h1 class="quesomos text-white text-center text-2xl sm:text-4xl md:text-6xl">Diseño Gráfico y Desarrollo Web para Emprendedores</h1>
			</main>
			<!--FOOTER DEL HEADER -->
			<footer class="m-5">
				<h2 class="text-center text-white text-xl sm:text-2xl font-medium">🚀 Desata el Poder Digital de tu Emprendimiento</h2>
				<div class="flex flex-col sm:flex-row justify-center items-center space-y-2 sm:space-y-0 sm:space-x-5 flex-wrap card-container ">
					<Card title="Quiero mejorar la estetica de mis redes" body="Edicion de contenido audiovisual" href=""/>
					<Card title="Quiero diseñar la pagina web de mi negocio" body="Desarrollo de paginas web" href=""/>
				</div>
			</footer>
		</section>
	</header>
	        <!--MAIN-->
	<main class="m-12">
		<!--section que ofrece los productos -->
		<section class="w-100vh">
			<!--HEADER SECTION -->
			<header class="flex flex-col justify-center items-center min-h-screen">
				<h2 class="text-center text-white text-2xl sm:text-4xl">Nuestros Servicios</h2>
				<p class="text-white my-8 text-xl sm:text-2xl leading-relaxed text-center m-4 text-balance">En MarMax, entendemos que cada emprendedor busca más que servicios; buscan una revolución digital que eleve su marca. 💻✨</p>				
			</header>
			<!--SERVICIOS -->
			<main>
				<article class="text-white min-h-screen">
					<header>
						<h2 class="text-center m-8 text-3xl sm:text-4xl font-bold">Edicion de Contenido <span class="text-gradient">Audiovisual</span></h2>
					</header>
					<!--MAIN AUDIOVISUAL -->
					<main>
						<ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-4">
							<CardInfo 
							title="Narrativa Impactante" 
							body="Creamos historias cautivadoras y emocionantes, conectando emocionalmente con tu audiencia y dejando una impresión duradera."
							icon="bi bi-pencil"
							/>
							<CardInfo 
							icon="bi bi-palette"
							title="Estilo Visual Único" 
							body="Desarrollamos un estilo visual distintivo que refleja la personalidad de tu marca y se destaca en un mercado saturado."
							/>
							<CardInfo 
							icon="bi bi-zoom-in"
							title="Efectos Visuales de Alta Calidad" 
							body="Incorporamos efectos visuales y gráficos de alta calidad que mejoran la apariencia y el atractivo de tu contenido."
							/>
							<CardInfo 
							icon="bi bi-film"
							title="Edición Dinámica y Creativa" 
							body="Utilizamos técnicas de edición innovadoras y creativas para dar vida a tu contenido y mantener a tu audiencia comprometida."
							/>
							<CardInfo 
							icon="bi bi-laptop"
							title="Optimización para Plataformas Digitales" 
							body="Adaptamos tu contenido para diferentes plataformas digitales, maximizando su alcance e impacto."
							/>
							<CardInfo 
							icon="bi bi-music-note"
							title="Música y Sonido Envolvedor" 
							body="Incorporamos música y sonido envolventes que complementan tu contenido y lo hacen más memorable."
							/> 
							<CardInfo 
							icon="bi bi-clock"
							title="Entrega Eficiente y Profesional" 
							body="Entregamos tu contenido de manera rápida y profesional, asegurando una experiencia sin problemas desde la edición hasta la publicación."
							/>
							<CardInfo 
							icon="bi bi-gear"
							title="Innovación Tecnológica" 
							body="Nuestro producto utiliza las últimas tecnologías para ofrecer un rendimiento excepcional y una experiencia de usuario inigualable."
							/>
							<CardInfo 
							icon="bi bi-chat-dots"
							title="Soporte Profesional" 
							body="Ofrecemos un equipo de soporte técnico altamente capacitado y disponible para resolver cualquier duda o problema que pueda surgir, garantizando una experiencia de compra sin preocupaciones."
							/>
						</ul>	
					</main>
					<footer>
						<section class="text-white py-12 flex flex-col justify-center items-center">
							<h2 class="text-center text-2xl sm:text-4xl mb-8">¿Listo para llevar el <span class="text-gradient">Contenido Audiovisual </span>de tu marca al siguiente nivel?</h2>
							<Botones body='Consultar'/>
						</section>
					</footer>
				</article>
				<article class="text-white min-h-screen">
					<header>
						<h2 class="text-center m-8 text-3xl sm:text-4xl font-bold ">Desarrollo de <span class="text-gradient">Sitios Web</span></h2>
					</header>
					<main>

						<ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-4">
							<CardInfo
							icon="bi bi-globe"
							title="Presencia Online Profesional" 
							body="Destaca con un sitio web profesional y atractivo que refleje la identidad única de tu marca, creando una impresión duradera en tus visitantes desde el primer clic."
							/>
							<CardInfo
							icon="bi bi-gem" 
							title="Experiencia de Usuario Mejorada" 
							body="Proporciona una navegación intuitiva y placentera en todos los dispositivos, garantizando que cada visita sea una experiencia memorable que impulse la fidelidad del cliente."
							/>
							<CardInfo
							icon="bi bi-graph-up" 
							title="Optimización para Motores de Búsqueda (SEO)" 
							body="Mejora tu visibilidad en los motores de búsqueda y aumenta tu tráfico orgánico con estrategias SEO efectivas, posicionando tu negocio frente a clientes potenciales interesados."
							/>
							<CardInfo 
							icon="bi bi-arrow-up-right"
							title="Crecimiento Escalable" 
							body="Diseña un sitio web que crezca con tu negocio y se adapte a tus necesidades futuras, asegurando que siempre estés un paso adelante en un mercado en constante evolución."
							/>
							<CardInfo
							icon="bi bi-shield-check" 
							title="Seguridad y Protección"
							body="Mantén tu sitio web protegido contra amenazas en línea con las últimas medidas de seguridad, transmitiendo confianza y seguridad a tus visitantes."
							/>
							<CardInfo
							icon="bi bi-arrow-clockwise" 
							title="Actualizaciones Continuas" 
							body="Recibe actualizaciones regulares y mantenimiento para garantizar que tu sitio web esté siempre al día y funcionando sin problemas, brindando una experiencia óptima a tus usuarios en todo momento."
							/>
							<CardInfo
							icon="bi bi-share" 
							title="Integración con Redes Sociales" 
							body="Conecta con tus seguidores de manera efectiva integrando tus perfiles de redes sociales en tu sitio web, aumentando la interacción y ampliando tu alcance en línea."
							/>
							<CardInfo
							icon="bi bi-people" 
							title="Aumento de la Visibilidad y Alcance" 
							body="Aprovecha la oportunidad de llegar a una audiencia más amplia y diversa que los medios tradicionales, expandiendo tu base de clientes y aumentando tus ventas de manera significativa."
							/>
							<CardInfo
							icon="bi bi-envelope" 
							title="Facilita la Comunicación y el Contacto" 
							body="Proporciona a tus clientes un canal directo para obtener información y ponerse en contacto contigo, facilitando la comunicación y mejorando la experiencia del cliente."
							/>
						</ul>
					    </main>
						<footer>
							<section class="text-white py-12 flex flex-col justify-center items-center">
								<h2 class="text-center text-2xl sm:text-4xl mb-8">¿Listo para tener tu propio <span class="text-gradient">Sitio Web</span>?</h2>
								<Botones body='Consultar'/>
							</section>
						</footer>
					</article>
				
					<!--PRECIOS -->
					<section class="">
						<!--Header precios -->
						<header>
							<h3 class="text-center m-8 text-3xl sm:text-4xl font-bold text-white">Precios</h3>
						</header>
						<main>
							<!--Edicion de contenido precios -->
							<article class="min-h-screen">
								<header>
								<h2 class="text-center m-8 text-3xl sm:text-4xl font-bold text-white"></h2>
							</header>
							<main>
								<ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-4">
									<li>
										<PRECIOS
											title="Narrativa Impactante"
											body="Creamos historias cautivadoras y emocionantes, conectando emocionalmente con tu audiencia y dejando una impresión duradera."
											price="$100"
										/>
									</li>
									<li>
										<PRECIOS
											title="Narrativa Impactante"
											body="Creamos historias cautivadoras y emocionantes, conectando emocionalmente con tu audiencia y dejando una impresión duradera."
											price="$100"
										/>
									</li>
								</ul>
							</main>
						</article>
						<!--Desarrollo web precios -->
						<article>
							<header>
								<h2 class="text-center m-8 text-3xl sm:text-4xl font-bold text-white"></h2>
							</header>
							<main>
								<ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-4">
									<!--MAIN DE PRECIOS DESARROLLO WEB -->
									<PRECIOS
									title="Narrativa Impactante"
									body="Creamos historias cautivadoras y emocionantes, conectando emocionalmente con tu audiencia y dejando una impresión duradera."
									price="$100"
									/>
									<PRECIOS
									title="Narrativa Impactante"
									body="Creamos historias cautivadoras y emocionantes, conectando emocionalmente con tu audiencia y dejando una impresión duradera."
									price="$100"
									/>
									<PRECIOS
									title="Narrativa Impactante"
									body="Creamos historias cautivadoras y emocionantes, conectando emocionalmente con tu audiencia y dejando una impresión duradera."
									price="$100"
									/>
								</ul>
							</main>
						</article>
					</main>
					</section>
			</section>
			<!-- PRE-FOOTER -->
			<section class="pre-footer text-white py-12 flex flex-col justify-center items-center min-h-screen">
				
			</section>
			
			<!--Nosotros -->
			<section class="nosotros">

			</section>
			<!--Contacto -->
			<section class="contacto">

			</section>
		</main>
		<footer>
			
			<p class="text-white text-center">© 2024 MarMax.</p>
		</footer>
	</Layout>
	
	<style>
		body{
			background: radial-gradient(125% 125% at 50% 10%, #000 40%,  #6633ee 100%);
		}
		*{
			list-style: none;
		}
		.text-gradient {
			background-image: var(--accent-gradient);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-size: 400%;
			background-position: 0%;
		}
		header h3{
			margin: 2rem;
		}
		.quesomos {
			margin-bottom: 2rem;
			border: 1px solid rgba(var(--accent-light), 25%);
			background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
			border-radius: 8px;
			padding: 2rem;
		}
		header p{
			margin: 2rem;
		}
		.link-card-grid {
			gap: 2rem;
			padding: 1rem;
		}
		
		.card-container{
			margin-top: 2rem;
		}
		.botones-servicio{
			display: flex;
			justify-content: space-between;
			
		}
		.header-desktop li, a:is(:hover, :focus){
			color: #63e;
		}
		.edicion-contenido{
			
		}
		
		</style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">