e---

---
<a class="whatsapp-button" href="https://wa.me/+5491166607667">
<icon class="bi bi-whatsapp" alt="Icono de WhatsApp">
</a>
<style>

    .whatsapp-button {
        
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: #25D366;
        color: white;
        padding: 0px;
        border-radius: 50%;
        text-decoration: none;
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 1000;
        width: 65px;
        height: 65px;
    }
    
    .whatsapp-button  {
        width: 55px;
        height: 55px;
    }
    
    .bi-whatsapp {
        font-size:30px;
    }
    </style>

