---
interface Props {
	title: string;
}
import Scroll from '../components/scroll.astro';
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
--color-principal-50: #f4f3ff;
--color-principal-100: #ebe9fe;
--color-principal-200: #d9d6fe;
--color-principal-300: #bdb4fe;
--color-principal-400: #9c8afb;
--color-principal-500: #7c5bf7;
--color-principal-600: #6633ee;
--color-principal-700: #5c27da;
--color-principal-800: #4d20b7;
--color-principal-900: #401c96;
--color-principal-950: #260f66;


	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
<Scroll />
